.layout {
  display: flex;
  min-height: 100vh;
}

.layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f5f7fb;
}

.layout__content main {
  flex: 1;
  padding: 1.5rem;
}
